<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@places.latitude}%2C#{@places.longitude}" %>

<h3>Nearby placess</h3>
<ul>
<% for places in @places.nearbys(10) %>
  <li><%= link_to places.address, places %> (<%= places.distance.round(2) %> miles)</li>
<% end %>
</ul>